# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/

/.envrc
/.pre-commit-config.yaml
/.direnv
/.gocache
/.codex
/.gradle

vpn
vpn.exe
gonnect-vpn-gui
gonnect-vpn-gui.exe

web/app.wasm
web/wasm_exec.js
web/pages
pages

build/
android/.gradle/
android/gradle/
android/.kotlin/
android/app/build/
android/build/
android/local.properties

.idea
android/.idea

*.log
android/*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

